{#
 * User: leo
 * Date: 23/03/17
 * Time: 15:20
#}

{% extends 'layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../../web/css/article.css"/>
    <div id="back">
        <a class="waves-effect waves-light btn orange accent-2" href="/web/">Accueil</a>
    </div>
    <div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
        <main class="mdl-layout__content">
            <div class="demo-blog__posts mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__media mdl-color-text--grey-50">
                        {% if article.picture != null %}
                            <img class="headerImg" src="{{ article.picture }}"/>
                        {% endif %}
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                        <div><i class="material-icons" role="presentation">person_pin</i></div>
                        <div>
                            <strong>Jean Forteroche</strong>
                            <span>{{ article.dateAdd|date('d-m-Y') }}</span>
                        </div>
                        <div class="section-spacer"></div>
                        <div class="share">
                            <i class="material-icons" role="presentation">share</i>
                            <span class="visuallyhidden">share</span>
                        </div>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                        <h5>{{ article.title }}</h5>
                        <p>{{ article.content }}</p>
                    </div>
                    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
                        <h6 id="join">Rejoignez la discussion...</h6>
                        {#Form to add a comment#}
                        <form action="#comment-area" id="form-comment" method="post">
                            <input type="hidden" name="parent_comment_id" value="0" id="parent_id">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" name="author" id="author" class="validate"/>
                                    <label for="author">Votre nom</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="email" name="email" id="email" class="validate"/>
                                    <label for="email">Votre e-mail</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="content" name="content" class="materialize-textarea" required></textarea>
                                    <label for="content">Votre commentaire*</label>
                                </div>
                                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="submitButton">
                                    <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">Ajouter un commentaire</span>
                                </button>
                            </div>
                        </form>
                        <p>(* Champ obligatoire)</p>
                        <hr id="comment-area">
                        {% if comments %}
                            {% for comment in comments %}
                                {#We include comment template#}
                                {% include 'comment.html.twig' %}
                                <hr>
                            {% endfor %}
                        {#If there are no comment for an article, we display a simple string#}
                        {% else %}
                            <p>Pas de commentaires.</p>
                        {% endif %}
                    </div>
                </div>

                <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                        <a href="/web/index.php/article?id={{ previousId }}" class="demo-nav__button">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                                <i class="material-icons">arrow_back</i>
                            </button>
                            Chapitre précédent
                        </a>
                        <div class="section-spacer"></div>
                        <a href="/web/index.php/article?id={{ nextId }}" class="demo-nav__button">
                            Chapitre suivant
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                                <i class="material-icons">arrow_forward</i>
                            </button>
                        </a>
                </nav>
            </div>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>

{% endblock %}