{#
 * User: leo
 * Date: 23/03/17
 * Time: 15:20
#}

{% extends 'layout.html.twig' %}

{% block title %}Page Article{% endblock %}

{% block content %}
    <p>Ceci est le template de la page article</p>

    <h3>Titre de l'article : {{ article.title }}</h3>
    <em>Date d'ajout : {{ article.dateAdd }}</em><br/>
    <p><strong>Résumé : {{ article.summary }}</strong></p><br/>
    <p>{{ article.content }}</p><br/><br/>
    <em>Etat de l'article : {{ article.isPublished }}</em>

{% endblock %}