{#
 * User: leo
 * Date: 23/03/17
 * Time: 15:20
#}

{% extends 'layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../../web/css/article.css"/>
    <div id="back">
        <a class="waves-effect waves-light btn orange accent-2" href="/web/">Accueil</a>
    </div>
    <div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
        <main class="mdl-layout__content">
            <div class="demo-blog__posts mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__media mdl-color-text--grey-50">
                        {% if article.picture != null %}
                            <img class="headerImg" src="{{ article.picture }}"/>
                        {% endif %}
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                        <div><i class="material-icons" role="presentation">person_pin</i></div>
                        <div>
                            <strong>Jean Forteroche</strong>
                            <span>{{ article.dateAdd|date('d-m-Y') }}</span>
                        </div>
                        <div class="section-spacer"></div>
                        <div>
                            <i class="material-icons" role="presentation">share</i>
                            <span class="visuallyhidden">share</span>
                        </div>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                        <p>{{ article.content }}</p>
                    </div>
                    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
                        <form>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea rows=1 class="mdl-textfield__input" id="comment"></textarea>
                                <label for="comment" class="mdl-textfield__label">Rejoignez la discussion...</label>
                            </div>
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">Ajouter un commentaire</span>
                            </button>
                        </form>
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="comment mdl-color-text--grey-700">
                                    <header class="comment__header">
                                        <img src="../../web/img/user.png" class="comment__avatar">
                                        <div class="comment__author">
                                            <strong>{{ comment.author }}</strong>
                                            <span>{{ comment.dateAdd|date('d-m-Y \\à\\ H:i') }}</span>
                                        </div>
                                    </header>
                                    <div class="comment__text">{{ comment.content }}</div>
                                    <nav class="comment__actions">
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                            <i class="material-icons" role="presentation">question_answer</i><span class="visuallyhidden">Répondre</span>
                                        </button>
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                            <i class="material-icons" role="presentation">report_problem</i><span class="visuallyhidden">Signaler</span>
                                        </button>
                                    </nav>
                                </div>
                                {% if children != 0 %}
                                    {% for child in children %}
                                        {% if child.parentCommentId == comment.id %}
                                            <div class="commentReply">
                                                <div class="comment mdl-color-text--grey-700">
                                                    <header class="comment__header">
                                                        <img src="../../web/img/user.png" class="comment__avatar">
                                                        <div class="comment__author">
                                                            <strong>{{ child.author }}</strong>
                                                            <span>{{ child.dateAdd|date('d-m-Y \\à\\ H:i') }}</span>
                                                        </div>
                                                    </header>
                                                    <div class="comment__text">{{ child.content }}</div>
                                                    <nav class="comment__actions">
                                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                                            <i class="material-icons" role="presentation">question_answer</i><span class="visuallyhidden">Répondre</span>
                                                        </button>
                                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                                            <i class="material-icons" role="presentation">report_problem</i><span class="visuallyhidden">Signaler</span>
                                                        </button>
                                                    </nav>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                    <hr>
                            {% endfor %}
                        {% else %}
                            <p>Pas de commentaires.</p>
                        {% endif %}
                    </div>
                </div>

                <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                    <a href="index.html" class="demo-nav__button">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                            <i class="material-icons">arrow_back</i>
                        </button>
                        Newer
                    </a>
                    <div class="section-spacer"></div>
                    <a href="index.html" class="demo-nav__button">
                        Older
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                            <i class="material-icons">arrow_forward</i>
                        </button>
                    </a>
                </nav>
            </div>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>

{% endblock %}