{% extends 'layout_admin.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <h5>Liste des articles publiés</h5>
        <table>
            <thead>
                <tr>
                    <td>Date d'ajout</td>
                    <td>Titre</td>
                    <td>Lecture</td>
                    <td>Modification</td>
                    <td>Suppression</td>
                </tr>
            </thead>
            {% for article in articles %}
                <tr>
                    <td>{{ article.dateAdd|date('d-m-Y') }}</td>
                    <td>{{ article.title }}</td>
                    <td><a class="waves-effect waves-light btn orange accent-2" href="/web/index.php/article?id={{ article.id }}">Lecture</a></td>
                    <td><a class="waves-effect waves-light btn orange accent-2" href="/web/index.php/admin/articles?p=edit&id={{ article.id }}">Modifier</a></td>
                    <td>
                        <form action="/web/index.php/admin/articles?p=delete&id={{ article.id }}" method="post">
                            <input type="hidden" name="id" value="{{ article.id }}">
                            <button type="submit" class="waves-effect waves-light btn red accent-2" href="/web/index.php/admin/articles?p=delete&id={{ article.id }}">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}