{#
 * User: leo
 * Date: 23/03/17
 * Time: 15:20
#}

{% extends 'layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <p>Ceci est le template de la page article</p>

    <h3>Titre de l'article : {{ article.title }}</h3>
    <em>Date d'ajout : {{ article.dateAdd }}</em><br/>
    <p><strong>Résumé : {{ article.summary }}</strong></p><br/>
    <p>{{ article.content }}</p><br/><br/>
    <em>Etat de l'article : {{ article.isPublished }}</em>

    <hr>

    <h5>Commentaires :</h5>
    {% if comments %}
        {% for comment in comments %}
            <div><strong>{{ comment.author }}</strong>, le {{ comment.dateAdd }} :<br/> {{ comment.content }}</div>
        {% endfor %}
    {% else %}
        <p>Pas de commentaires.</p>
    {% endif %}

{% endblock %}