{% extends 'layout_admin.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block content %}
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <a href="/web/index.php/admin/articles/"><div id="return-update">Retour à la liste des articles</div></a>
        <form action="" id="form-article" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input value ="{{ article.title }}" type="text" name="title" id="title" class="validate" data-error="wrong" data-success="right" required/>
                    <label for="title">Titre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="picture" id="choose-picture" class="icons">
                        <option value="" disabled selected>Sans photo</option>
                        {% for img in allImg %}
                            <option value="/web/img/upload/{{ img }}" data-icon="/web/img/upload/{{ img }}" class="left circle">{{ img }}</option>
                        {% endfor %}
                    </select>
                    <label for="choose-picture">Image d'en-tête</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="summary">Résumé</label>
                    <textarea id="summary" name="summary" class="materialize-textarea wysiwyg">{{ article.summary }}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="content">Contenu</label>
                    <textarea id="content" name="content" rows="20" class="materialize-textarea wysiwyg">{{ article.content }}</textarea>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="waves-effect waves-light btn orange accent-2">
                    Modifier
                </button>
            </div>
    </form>
        </div>
{% endblock %}