{#
 * User: leo
 * Date: 23/03/17
 * Time: 15:15
#}

{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/web/css/home.css"/>
    <nav>
        <ul id="slide-out" class="side-nav orange accent-2">
            <li>
                <div class="userView">
                    <h5>Billet simple pour l'Alaska, par Jean Forteroche</h5>
                </div>
            </li>
            <hr>
            {% for article in articles|reverse %}
                <li><a href="{{ article.url }}">{{ article.title }}</a></li><br/>
            {% endfor %}
        </ul>
    </nav>
    <a href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light btn orange accent-2"><i class="material-icons">menu</i></a>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
        <main class="mdl-layout__content">
            <div class="demo-blog__posts mdl-grid">
                {% for article in articles %}
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__media mdl-color-text--grey-50">
                        {% if article.picture != null %}
                            <img class="headerImg" src="{{ article.picture }}"/>
                        {% endif %}
                        <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                    </div>
                    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                        {{ article.summary|raw }}
                    </div>
                    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                        <div><i class="material-icons" role="presentation">person_pin</i></div>
                        <div>
                            <strong>Jean Forteroche</strong>
                            <span>Publication : {{ article.dateAdd|date('d-m-Y') }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <nav class="demo-nav mdl-cell mdl-cell--12-col">
                    <div class="section-spacer"></div>
                    <a href="entry.html" class="demo-nav__button" title="show more">
                        More
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons" role="presentation">arrow_forward</i>
                        </button>
                    </a>
                </nav>
            </div>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>

{% endblock %}
