{# Template used to display comments #}
<div class="comment mdl-color-text--grey-700" id="comment-{{ comment.id }}">
    <header class="comment__header">
        {% if comment.gravatar == null %}
            <img src="../../../web/img/user.png" class="comment__avatar">
        {% else %}
            <img src="{{ comment.gravatar }}" class="comment__avatar">
        {% endif %}
        <div class="comment__author">
            <strong>{{ comment.author }}</strong>
            <span>{{ comment.dateAdd|date('d-m-Y \\à\\ H:i') }}</span>
        </div>
    </header>
    <div class="comment__text">{{ comment.content }}</div>
    <nav class="comment__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">report_problem</i><span class="visuallyhidden">Signaler</span>
        </button>
        {#The response button is displayed only if the depth is less than 3#}
        {% if comment.depth < 3 %}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon reply" data-id="{{ comment.id }}">
            <i class="material-icons" role="presentation">question_answer</i><span class="visuallyhidden">Répondre</span>
        </button>
        {% endif %}
    </nav>
</div>
{# Principle of Russian dolls :) #}
<div class="commentReply">
    {% if comment.children %}
        {% for comment in comment.children %}
            {% include 'comment.html.twig' %}
        {% endfor %}
    {% endif %}
</div>